{% extends 'base.html' %}
{% block content %}

<div class="mt-4 mb-5 ml-5 text-center">
        <h4>Buy our wonderfull cards here!</h4>
    </div>


    
<!-- Yep, this is what happens when ctrl-v is your only friend-->
<div class="row mt-5 mx-4">

    <div class="col-lg-3 card text-center text-secondary">
        <img src="/static/dek.jpg" class="img-fluid">
        Normal Card Deck: $23.99 </br>Seller: idk, someone
    </div>

    <div class="col-lg-3 card text-center text-secondary">
            <img src="/static/dek.jpg" class="img-fluid">
            Normal Card Deck: $23.99 </br>Seller: idk, someone
        </div>
        <div class="col-lg-3 card text-center text-secondary">
                <img src="/static/dek.jpg" class="img-fluid">
                Normal Card Deck: $23.99 </br>Seller: idk, someone
            </div>
            <div class="col-lg-3 card text-center text-secondary">
                    <img src="/static/dek.jpg" class="img-fluid">
                    Normal Card Deck: $23.99 </br>Seller: idk, someone
                </div>
                <div class="col-lg-3 card text-center text-secondary">
                        <img src="/static/dek.jpg" class="img-fluid">
                        Normal Card Deck: $23.99 </br>Seller: idk, someone
                    </div>
                    <div class="col-lg-3 card text-center text-secondary">
                            <img src="/static/dek.jpg" class="img-fluid">
                            Normal Card Deck: $23.99 </br>Seller: idk, someone
                        </div>
                        <div class="col-lg-3 card text-center text-secondary">
                                <img src="/static/dek.jpg" class="img-fluid">
                                Normal Card Deck: $23.99 </br>Seller: idk, someone
                            </div>
                            <div class="col-lg-3 card text-center text-secondary">
                                    <img src="/static/dek.jpg" class="img-fluid">
                                    Normal Card Deck: $23.99 </br>Seller: idk, someone
                                </div>
                                <div class="col-lg-3 card text-center text-secondary">
                                        <img src="/static/dek.jpg" class="img-fluid">
                                        Normal Card Deck: $23.99 </br>Seller: idk, someone
                                    </div>
                                    <div class="col-lg-3 card text-center text-secondary">
                                            <img src="/static/dek.jpg" class="img-fluid">
                                            Normal Card Deck: $23.99 </br>Seller: idk, someone
                                        </div>
                                        <div class="col-lg-3 card text-center text-secondary">
                                                <img src="/static/dek.jpg" class="img-fluid">
                                                Normal Card Deck: $23.99 </br>Seller: idk, someone
                                            </div>
                                            <div class="col-lg-3 card text-center text-secondary">
                                                    <img src="/static/dek.jpg" class="img-fluid">
                                                    Normal Card Deck: $23.99 </br>Seller: idk, someone
                                                </div>
                                                <div class="col-lg-3 card text-center text-secondary">
                                                        <img src="/static/dek.jpg" class="img-fluid">
                                                        Normal Card Deck: $23.99 </br>Seller: idk, someone
                                                    </div>
                                                    <div class="col-lg-3 card text-center text-secondary">
                                                            <img src="/static/dek.jpg" class="img-fluid">
                                                            Normal Card Deck: $23.99 </br>Seller: idk, someone
                                                        </div>
                                                        <div class="col-lg-3 card text-center text-secondary">
                                                                <img src="/static/dek.jpg" class="img-fluid">
                                                                Normal Card Deck: $23.99 </br>Seller: idk, someone
                                                            </div>
                                                            <div class="col-lg-3 card text-center text-secondary">
                                                                    <img src="/static/dek.jpg" class="img-fluid">
                                                                    Normal Card Deck: $23.99 </br>Seller: idk, someone
                                                                </div>








</div>




{% endblock %}