{% extends 'base.html' %}
{% block content %}
<div class="jumbotron text-center">
    <h1>Decks4Sale: </br>
        The playing card deck trading experience!

    </h1>
    <p class="lead">Sell off old card decks, or buy brand new* ones! There are literally infinite possibilities!</p>
</div>

<p>
    <div class="row mt-3 mx-4">
        <div class="col-lg-4">
            <h3>
                An unbeatable selection!
            </h3>
            </br>
            We get the cards from people like you, so we definitely already have something you'll like!


        </div>

        <div class="col-lg-4">
            <h3>
                Completely unmatched prices!
            </h3>
            </br>
            We take a measly 85% cut of sale price, meaning the savings from sourcing cards from the dying dreams of chilren/young adults are passed on to you!
    
    
            </div>


            <div class="col-lg-4">
                <h3>
                    Give up your dreams!
                </h3>
                </br>
                Remember, card games are for children! Why don't you just sell those cards to us at heavily deflated prices? 
                </div>
    </div>
</p>

<p>
    <div class="row mx-5 mt-5 mb-5">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
            <button class="btn btn-primary btn-lg" href="/buy">Buy our wonderful cards</button>
            <button class="btn btn-primary btn-lg" href="/sell">Sell your crappy cards</button>            
        </div>
        <div class="col-lg-3"></div>

    </div>
</p>





{% endblock %}