{% extends 'base.html' %}
{% block content %}

<div class="mt-4 mb-5 ml-5 text-center">
    <h4>Sell your worthless cards here!</h4>
</div>


<div class="row mx-4 mt-3">
<div class="col-lg-3"></div>
<div class="col-lg-6 card mb-5">
    


<div class="form-group">
        <label for="exampleFormControlInput1">Your email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>

<div class="form-group">
        <label for="exampleFormControlInput2">Your deck name</label>
        <input type="" class="form-control" id="exampleFormControlInput2" placeholder="deck name">
      </div>      

<div class="form-group">
        <label for="exampleFormControlInput2">Your deck price</label>
        <input type="" class="form-control" id="exampleFormControlInput2" placeholder="$0.01 (recommended)">
      </div>      

</div>
<div class="col-lg-3"></div>

</div>

<div class="row mb-4">
<div class="col-lg-5"></div>
<div class="col-lg-2">
    <button class="btn btn-primary">Put it up for sale!</button>
</div>
<div class="col-lg-5"></div>
</div>



{% endblock %}